.navbar {
	display: flex;
	background-color: #a2b9bc;
	justify-content: space-between;
	border-radius: 15px;
	padding: 25px;
	align-self: auto;
	flex-wrap: wrap;
	flex-direction: row;
}

.Links {
	display: flex;
	margin-right: 10px;
	flex-direction: row;
	flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
	.Links {
		display: flex;
		margin-right: 10px;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.Header {
	display: flex;
	width: auto;
	height: 50px;
	background-color: black;
	border-radius: 15px;
	padding: 25px;
}
@media only screen and (max-width: 350px) {
	.Header {
		display: flex;
		width: auto;
		height: 25px;
		background-color: black;
		border-radius: 15px;
		padding: 25px;
	}
}

@media only screen and (max-width: 200px) {
	.Header {
		display: flex;
		width: auto;
		height: 15px;
		background-color: black;
		border-radius: 15px;
		padding: 25px;
	}
}

.image {
	height: 45px;
	width: 45px;
	display: flex;
}
.link {
	height: 45px;
	width: 45px;
	padding: 15px;
	font-size: 150%;
	background-color: aliceblue;
	margin: 5px;
	margin-top: 5px;
	border-radius: 10px;
}

.login {
	display: flex;
	flex-direction: column;
}

@media only screen and (max-width: 200px) {
	.login {
		display: flex;
		flex-direction: column;
		flex-shrink: inherit;
		width: 15px;
	}
}
