.foot {
	display: flex;
	background-color: #a2b9bc;
	justify-content: space-between;
	border-radius: 15px;
	padding: 25px;
	margin-top: 10px;
	align-self: auto;
	flex-wrap: wrap;
	flex-direction: row;
}
